.centraliza {
    margin: auto;
}

#principal {
    border-radius: 10px;
    border-width: 2px;
    border-color: gray;
    border-style: solid;
    margin-top: 20px;
    width: 900px;
    min-height: 300px;
    background: #FDF5E6;
    display: flex;
    flex-direction: column;
}

#idTxtCsv {
    width: 600px;
    height: 200px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}